<ng-container [formGroup]="group">
  <label for="{{ config.id }}">{{ config.label }}</label>
  <input
    type="text"
    class="form-control"
    id="{{ config.id }}"
    [attr.placeholder]="config.placeholder"
    [formControlName]="config.name"
    [class.is-invalid]="field.dirty && field.invalid"
  />
  <div *ngIf="field.dirty && field.invalid" class="invalid-feedback">
    <small class="form-text" *ngIf="field.errors.required">
      {{ config.label }} is required
    </small>
    <small class="form-text" *ngIf="field.errors.minlength">
      Min {{ field.errors.minlength.requiredLength }} char required
    </small>
  </div>
</ng-container>
